{# reoako/templates/reoako-dialog.html.twig #}

<link rel="stylesheet" href="/core/themes/seven/css/components/tables.css?r7f3rw" />
<link rel="stylesheet" href="/core/themes/seven/css/base/elements.css?r7f3rw" />

<style type="text/css">



</style>

<div class="modal-content">
    <div class="asset-admin">
        <form id="Form_reoakoForm" action="/reoako-modal/search">
            <fieldset class="modal-body modal__dialog">
                <div
                    id="Form_reoako_Holder"
                    class="field text insert-embed-reoako form-group"
                >
                    <div class="form__field-holder">
                        <input
                            id="Form_reoakoInput"
                            name="search_term"
                            type="text"
                            class="text insert-embed-reoako form-control"
                            value="{{ search_term }}"
                        />
                    </div>
                </div>
                {% if error %}
                    <div class="form__field-description">
                        Reoako Error: "{{ error }}"
                    </div>
                {% endif %}

                {% if results %}
                    {{ include('reoako-dialog-results.html.twig', { 'results': results, 'search_term': search_term, 'script_directory': script_directory }) }}
                {% elseif search_term %}
                    <div class="form__field-description">
                        There are 0 results for "{{ search_term }}"
                    </div>
                {% else %}
                    <div class="form__field-description">
                        Search for a word in Māori or English to continue.
                    </div>
                {% endif %}

            </fieldset>
        </form>
    </div>
</div>