{% if results|length == 1 %}
    <h3 class="result-header">There is 1 result for "{{ search_term }}"</h3>
{% else %}
    <h3 class="result-header">There are {{ results|length }} results for "{{ search_term }}"</h3>
{% endif %}

<table class="table grid-field__table">
    <thead>
        <tr class="table-headers">
            <th>Term</th>
            <th>Function</th>
            <th>Definition</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr data-page-title="Title">
                <td class="title">
                    <div class="title-wrapper">
                        <a
                            class="choose-word"
                            href="#{{ result.translations.slug }}"
                            data-reoako-id="{{ result.translations.slug }}"
                            data-reoako-headword="{{ result.headword }}"
                            data-reoako-translation="{{ result.translations.mi }}"
                        >
                            <strong>{{ result.translations.mi }}</strong>
                            <br />
                            <span>{{ result.translations.en }}</span>
                        </a>
                    </div>
                </td>
                <td>{{ result.function }}</td>
                <td>{{ result.definition }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{{ script_directory }}/reoako-editor-iframe.js" ></script>